---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="About Us - plam">
    <main class="flex flex-col w-full h-full">
        <h2 class="text-3xl text-black font-semibold">About Us</h2>
    </main>
</Layout>
