---
import Layout from "../layouts/Layout.astro";
import Person from "../components/Person.astro";

const people = [
    {
        name: "Lucas Sta Maria",
        website: "https://priime.dev/",
        github: "priime0",
        email: "lucas@plam.dev",
        linkedin: "lucas-sta-maria",
        about: "Mathematics and Computer Science student at Northeastern University. Software engineer intern at Amazon.",
        location: "Seattle, Washington",
        picture: "/profiles/priime.webp"
    },
    {
        name: "Leo Seojun Lee",
        website: "https://smjleo.com/",
        github: "smjleo",
        email: "leo@plam.dev",
        linkedin: "seojun-leo-lee",
        about: "First year Computer Science student at the University of Oxford.",
        location: "London, United Kingdom",
        picture: "/profiles/smjleo.webp"
    },
    {
        name: "Edward Wibowo",
        website: "https://edwardwibowo.com/",
        github: "claby2",
        email: "edward_wibowo@brown.edu",
        linkedin: "edward-wibowo",
        about: "Computer Science and Mathematics student at Brown University.",
        location: "Providence, Rhode Island",
        picture: "/profiles/claby.webp"
    },
    {
        name: "Vir Chaudhury",
        website: "https://hexular.net/",
        github: "virchau13",
        email: "plam@hexular.net",
        linkedin: "vir-chaudhury-a83b5725a",
        about: "Full-time National Serviceman at the Singapore Armed Forces.",
        location: "Singapore",
        picture: "/profiles/vir.webp"
    },
];

---

<Layout title="About Us - plam">
    <main class="flex flex-col w-full h-full">
        <div class="flex flex-col gap-2 max-w-3xl">
            <div class="flex flex-col">
                <h3 class="text-xl max-w-3xl font-serif mb-2">We design and build software from the ground-up with a focus on clean design and intuitive interactions.</h3>
                <p class="text-sm my-2">We're a team of passionate, multi-disciplinary students who strive to engineer well-designed, reliable software. We're hackers at heart, excited to explore any new ideas we generate.</p>
                <p class="text-sm my-2">Previously, we've developed online educational platforms for organisations such as UFDS and DOVERMUN. Collectively, these platforms help over 1,000 students to learn and engage effectively. We've contributed to the open-source ecosystem through projects such as ambit, a Linux dotfile manager. We've also won several hackathon awards, such as Best Pre-University Hack from NUS Hack&Roll 2 years in a row.</p>
                <p class="text-sm my-2">We're always excited to take on new projects. Get in touch with us at <a class="underline" href="mailto:hello@plam.dev">hello@plam.dev</a>!</p>
            </div>
            <div class="flex flex-col">
                <h3 class="text-xl max-w-3xl font-serif my-2">Our team</h3>
                <h4 class="text-sm max-w-3xl my-2">Founded in Singapore, now based internationally.</h4>
            </div>
            <div class="grid grid-cols-1 xs:grid-cols-2 opacity-0" id="people">
                {people.map((person, i) => <Person person={person} id={i} />)}
            </div>
        </div>
    </main>
</Layout>

<script>
    // shuffle people
    const people = document.getElementById("people");
    for (let i = people.children.length; i >= 0; i--) {
        people.appendChild(people.children[Math.random() * i | 0]);
    }
    people.classList.remove("opacity-0");
</script>
