---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Person from "../components/Person.astro";

const people = [
    {
        name: "Lucas Sta Maria",
        website: "https://priime.dev/",
        github: "priime0",
        email: "lucas@plam.dev",
        linkedin: "lucas-sta-maria",
        about: "Studying Computer Science and Mathematics at Northeastern University. Incoming software engineer intern at Amazon.",
        location: "Boston, Massachusetts",
        picture: "/priime.webp"
    },
    {
        name: "Leo Seojun Lee",
        website: "https://smjleo.com/",
        github: "smjleo",
        email: "leo@plam.dev",
        linkedin: "seojun-leo-lee",
        about: "First year Computer Science student at the University of Oxford.",
        location: "Oxford, United Kingdom",
        picture: "/smjleo.webp"
    },
    {
        name: "Edward Wibowo",
        website: "https://edwardwibowo.com/",
        github: "claby2",
        email: "edward@plam.dev",
        linkedin: "edward-wibowo",
        about: "First year Mathematics and Computer Science student at Brown University.",
        location: "Providence, Rhode Island",
        picture: "/claby.webp"
    },
    {
        name: "Vir Chaudhury",
        website: "https://hexular.net/",
        github: "virchau13",
        email: "plam@hexular.net",
        linkedin: "vir-chaudhury-a83b5725a",
        about: "Full-time National Serviceman at the Singapore Armed Forces.",
        location: "Singapore",
        picture: "/vir.webp"
    },
];
---

<Layout title="About Us - plam">
    <main class="flex flex-col w-full h-full">
        <div class="flex flex-col gap-2 max-w-3xl">
            <div class="flex flex-col">
                <h3 class="text-xl max-w-3xl font-serif mb-2">We design and build software from the ground-up with a focus on clean design and intuitive interactions.</h3>
                <p class="text-sm my-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="flex flex-col">
                <h3 class="text-xl max-w-3xl font-serif my-2">Our team</h3>
                <h4 class="text-sm max-w-3xl my-2">Founded in Singapore, now based internationally.</h4>
            </div>
            <div class="grid grid-cols-1 xs:grid-cols-2">
                {people.map((person, i) => <Person person={person} id={i} />)}
            </div>
        </div>
    </main>
</Layout>
