---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="plam">
	<main class="flex flex-col md:flex-row">

        <Card href="https://smjleo.com" title="smj leeo" body="hi" />
	</main>
</Layout>
