---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="plam">
	<main class="flex flex-col w-full">

        {Array(20).fill(0).map((_, i) => <Card href="https://smjleo.com" title="smj leeo" body="hi" /> )}
	</main>
</Layout>
