---
import Layout from '../layouts/Layout.astro';
import Projects from '../components/Projects.astro';
import Header from '../components/Header.astro';
---

<Layout title="plam">
    <main class="flex flex-col w-full">
        <Header />
        <Projects />
	</main>
</Layout>
