---
const { href, name, id, url, github, image } = Astro.props;
---

<div class=" w-full h-64 bg-top bg-cover bg-[#0006] bg-blend-darken" id={id} style={{backgroundImage: `url(${image});
`}}>
    <a href={href}>
        <h2>
            {name}
            <span>&rarr;</span>
        </h2>
        <p>
            <slot />
        </p>
    </a>
</div>
